/** Regra CSS

    seletor { propriedade1:valor;
              propriedade2:valor;
              propriedade3:valor;
            }
              */
    
    h1{
        color: rgb(71, 38, 192);
    }
    p{color:rgb(0, 0, 0)}
